html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
	color: #fdcc52;
	transition: all .35s;
}

a:hover,
a:focus {
	color: #fcbd20;
}

hr {
	max-width: 100px;
	margin: 25px auto 0;
	border-width: 1px;
	border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
	border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

section {
	padding: 100px 0;
}

section h2 {
	font-size: 50px;
}

.round {
	border-radius: 50% !important;
}

header.masthead {
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: white;
	background: url("../../../img/happyFace.jpg"), #7b4397;
	background: url("../../../img/happyFace.jpg"), linear-gradient(to left, #7b4397, #dc2430);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.masthead .header-content {
	max-width: 500px;
	margin-bottom: 100px;
	text-align: center;
}

header.masthead .header-content h1 {
	font-size: 30px;
}

header.masthead .device-container {
	max-width: 325px;
	margin-right: auto;
	margin-left: auto;
}

header.masthead .device-container .screen img {
	border-radius: 50%;
}

@media (min-width: 992px) {
	header.masthead {
		height: 100vh;
		min-height: 775px;
		padding-top: 0;
		padding-bottom: 0;
	}
	header.masthead .header-content {
		margin-bottom: 0;
		text-align: left;
	}
	header.masthead .header-content h1 {
		font-size: 50px;
	}
	header.masthead .device-container {
		max-width: 500px;
	}
}




.btn-outline {
	color: white;
	border: 1px solid;
	border-color: white;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
	color: white;
	border-color: #000;
	background-color: #000;
}

.btn {
	border-radius: 300px;
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn-xl {
	font-size: 11px;
	padding: 15px 45px;
}
.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.overlay .mask:hover {
    opacity: 1
}

.rgba-black-light,
.rgba-black-light:after {
    background-color: rgba(0, 0, 0, 0.3)
}