.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.abc {
  text-orientation: sideways-right;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #f0fff0;
}
.arrow-bg {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
}
.btn-shadow {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 0.5px solid gray;
  border-radius: 50%;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.btn-white {
  background: #fff;
  color: gray;
}

.btn-white:hover {
  box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: black;
}
.box {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.box-item {
  border: transparent 1px solid;
}
.box-item:hover {
  background-color: #e8e8e8;
  border-color: gray;
}
.miniItem-icon {
  width: 30px;
  height: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

input {
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
