:root {
    --main-bg-color: #F7F7F7;
    --nav-bg-color : #404346;
    --nav-txt-color: #B9BABB;
    --nav-active-txt-color : #FFFFFF;
    --nav-active-bg-color : #26292C;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --txt-breadcrumb-color : #535558;
    --border-color : #e7e7e7;
  }

body {
    background-color: var(--main-bg-color);
}

nav {
    height: 40px !important;
}

.navbar {
    background-color: var(--nav-bg-color) !important;
}

.navbar-brand {
    color: var(--white-color) !important;
}

.active a {
    background: var(--nav-active-bg-color) !important;
    color: var(--nav-active-txt-color) !important;
}

.navbar-nav li {
    font-size: medium;
    font-family: 'roboto';
    font-weight: 400;
}

.nav-item a {
    color: var(--nav-txt-color) !important;
}

.input-search {
    align-items: center;
}

.input-field {
    padding: 0 10px 0 0px;
    color: #555555;
    border: 1px solid;
    text-indent: 25px;
    background: url('https://img.icons8.com/android/18/000000/search.png') no-repeat;
    background-position: left center;
    background-position-x: 5px;
    width: 180px;
    height: 29px;
    overflow: hidden;
  }

  .pagination {
     /* background-color: var(--white-color);
      border: 1px solid var(--nav-txt-color);*/
      width: fit-content;
  }

  .page-link {
    background-color: var(--white-color) !important;
    border: 1px solid var(--nav-txt-color) !important;
    width: fit-content;
  }
    /*Breadcumbs custom css*/

  /* breadcrumb */

  .breadcrumb {
    background-color: var(--main-bg-color) !important;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    align-items: center !important;
    text-align: left !important;
  }

  .breadcrumb li a {
    margin-left: 20px;
    color: var(--black-color);
    font-size: medium;
    font-family: 'roboto';
    font-weight: bold;
  }

.breadcrumb-arrow {
  min-height: 10px;
  /*     padding: 0; */
  line-height: 10px;
  list-style: none;
  overflow: auto;
  /*    background-color: #e6e9ed*/
  /*background: linear-gradient(to right, #eaeaea 0%,#ffffff 100%);*/
}

.h4-custom-margin {
  margin-left: 20px;
}


/*create arrow with div */

.arrow {
  position: absolute;
  top: 14px;
  right: -20px;
  bottom: -50px;
  width: 42px;
  height: 42px;
  margin-top: -5px;
  margin-bottom: -5px;
  z-index: 1;
  transition: .5s;
  float: left;
  box-shadow: 1px 1px 0 var(--border-color);

}

.arrow {
  transform: rotate(-45deg);
}

tr {
  border : 3px solid var(--main-bg-color) !important;
}

/*Login styles*/

.form-container {
  width: 450px;
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-top: 5px solid #000 !important;
}

input {
  border-left: 3px solid #000 !important;
}