.container-pdf {
  position: relative;
  height: 100%;
}

#printElement,
#printButton {
  margin: 30px;
}
.col-sm-4 {
  padding: 10px;
  border: 1px solid grey;
}

.page-break {
  page-break-before: always !important;
}
